.table-receipt{
    margin: auto;
    width: 90%;
}

.table-receipt tr td{
    padding: 5px 5px 5px 40px;
}

.btn-update{
	background-color: #2d4fef;
	color: #fff;
	font-weight: bold;
}

.error-notice{
	margin-top: 5px !important;
	margin-bottom: -15px !important;
}

.error-notice label{
	color: #ff6258;
	font-size: 12px;
}